<launch>

  <arg name="buffer_size" default="1" />
  <arg name="loop_rate" default="10" />
  <arg name="record" default="false" />

  <node pkg="rosbag" type="record" name="rosbag_record"
       args="record -O topics.bag -a"
       if="$(arg record)"
  /> 

  <group ns="abhimah">
    <node pkg="beginner_tutorials" name="addNumService" type="addNumService"/>
    <node pkg="beginner_tutorials" name="talker" type="talker"
          args="$(arg buffer_size)
                $(arg loop_rate)"
    />
    <node pkg="beginner_tutorials" name="listener" type="listener"/>
  </group>


</launch>
